
# Ignore all these
*.bin
*.lock
*.ser
*.iml
*.gradle
*.properties
*.DS_Store

/gradle/
/build/

# Ignore maps key
OpenParking Code/app/src/debug/res/values/google_maps_api.xml
OpenParking*Code/app/src/debug/res/values/google_maps_api.xml


# Do Not ignore the activities
!activity_main.xml
!activity_maps.xml
!activity_login.xml
!activity_signup.xml
!activity_profile.xml
!activity_second.xml
!activity_test_.xml
!content_test_.xml
!activity_pay_pal.xml
!activity_payment_details.xml
!activity_rating.xml


# Do Not ignore login resources
!bg_login.xml
!btn_bg.xml
!et_bg.xml
!ic_eye.xml
!ic_fb.xml
!ic_launcher.xml
!ic_launcher_background.xml
!ic_launcher_foreground.xml
!rounded_button.xml

# Do Not ignore resources 
!colors.xml
!dimens.xml
!parking_instance_locations.xml
!strings.xml
!styles.xml

#Do Not ignore 
!build.gradle 

# Ignore workspace.xml
workspace.xml
.idea/workspace.xml
**/.idea/workspace.xml
Code/.idea/workspace.xml
OpenParking Code/.idea/workspace.xml
OpenParking*Code/.idea/workspace.xml


# Also Ignore these
OpenParking*Code/.gradle/4.10.1/fileHashes/fileHashes.bin
OpenParking*Code/.idea/libraries/
**/.idea/libraries/
OpenParking*Code/.idea/caches/
OpenParking*Code/.gradle/
OpenParking*Code/.idea/libraries/Gradle__com_android_support_viewpager_28_0_0_aar.xml
OpenParking Code/.idea/libraries/Gradle__android_arch_core_runtime_1_1_1_aar.xml
OpenParking Code/.gradle/4.10.1/fileHashes/fileHashes.bin
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
OpenParking Code/app/src/main/AndroidManifest.xml