
*.bin
*.lock
*.ser
*.xml
*.iml
*.gradle
*.properties


!activity_main.xml
!activity_maps.xml
!activity_login.xml
!activity_signup.xml
!activity_profile.xml
!activity_second.xml
!activity_test_.xml


!bg_login.xml
!btn_bg.xml
!et_bg.xml
!ic_eye.xml
!ic_fb.xml
!ic_launcher.xml
!ic_launcher_background.xml
!ic_launcher_foreground.xml


!colors.xml
!dimens.xml
!parking_instance_locations.xml
!strings.xml
!styles.xml

workspace.xml
.idea/workspace.xml
**/.idea/workspace.xml
Code/.idea/workspace.xml
OpenParking Code/.idea/workspace.xml

OpenParking Code/.gradle/4.10.1/fileHashes/fileHashes.bin
OpenParking Code/.idea/libraries/
OpenParking Code/.idea/caches/
OpenParking Code/.gradle/
OpenParking Code/app/src/debug/res/values/google_maps_api.xml