*.bin
*.lock
*.ser
*.iml
*.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

workspace.xml
.idea/workspace.xml
**/.idea/workspace.xml
Code/.idea/workspace.xml
OpenParking Code/.idea/workspace.xml

OpenParking Code/.gradle/4.10.1/fileHashes/fileHashes.bin
